.sort {
    float:right;
    position:absolute;
}
.sort:before,
.sort:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	margin-left:5px;
	width: 0px;
}
.sort:before {
	border-bottom-color: #666;
}
.sort:after {
	border-top-color: #666;
	margin-top: 1px;
}


/* Pager */

.pager-left {	
	border-right: 9px solid #666;
	border-bottom : 9px solid transparent;
	border-left : 9px solid transparent;
	border-top : 9px solid transparent;
	content : '';
	display: inline-block;
	margin-left: 4px;
	margin-right:4px;
	width: 0;
	height : 0;
}

.pager-textbox {
	width:20px;
	vertical-align:top;
	text-align:center
}

.pager-right {	
	border-right: 9px solid transparent;
	border-bottom : 9px solid transparent;
	border-left : 9px solid #666;
	border-top : 9px solid transparent;
	content : '';
	display: inline-block;
	margin-left: 4px;
	margin-right:4px;
	width: 0;
	height : 0;
}
